<a href="https://colab.research.google.com/github/digogc/Python-para-Data-Science/blob/main/Exerc%C3%ADcios-Bibliotecas_Funcoes_EstruturasCompostas_Excecoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sobre o notebook

A "hora da prática" é uma atividade do curso de Python para Data Science da Alura que contém diversos desafios envolvendo os aprendizados de cada aula.

O notebook "hora da prática" é um notebook construído com espaço para as células dos desafios propostos no curso, com ele você tem espaço para construir e executar suas soluções

## Aula 1 - Bibliotecas

### Aquecimento

#### Questão 1

Escreva um código para instalar a versão `3.7.1` da biblioteca `matplotlib`

In [ ]:
!pip install matplotlib==3.7.1

Requirement already satisfied: matplotlib==3.7.1 in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (4.55.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.4.7)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib==3.7.1) (1.17.0)

#### Questão 2

Escreva um código para importar a biblioteca `numpy` com o alias `np`

In [ ]:
import numpy as np

#### Questão 3
Crie um programa que lê a seguinte lista de números e escolha um número desta aleatoriamente.
```
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]
```

In [ ]:
from random import choice

lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

resultado = choice(lista)

print(resultado)

8

#### Questão 4

Crie um programa que sorteia aleatoriamente um número inteiro menor que 100.
> Dica: use a função [`randrange()`](https://docs.python.org/3/library/random.html#random.randrange) da biblioteca `random`. Essa função recebe como parâmetro o valor limite para a escolha aleatória ou um intervalo se passado o limite mínimo e máximo. Por exemplo, `randrange(5)` gera valores inteiros menores que 5.

In [ ]:
from random import randrange

resultado = randrange(100)

print(f'O número aleatório sorteado foi {resultado}')

O número aleatório sorteado foi 51

#### Questão 5
Crie um programa que solicite à pessoa usuária digitar dois números inteiros e calcular a potência do 1º número elevado ao 2º.
> Dica: use a função [`pow()`](https://docs.python.org/3/library/random.html#random.randrange) da biblioteca `math`

In [ ]:
from math import pow

base = int(input('Insira um valor para ser a base da potência: '))
expoente = int(input('Insira um valor para ser o expoente da potência: '))

resultado = int(pow(base,expoente))

print(f'O resultado de {base} elevado à {expoente} é: {resultado}')

Insira um valor para ser a base da potência: 7
Insira um valor para ser o expoente da potência: 3
O resultado de 7 elevado à 3 é: 343

### Aplicando a projetos

#### Questão 6
Um programa deve ser escrito para sortear uma pessoa seguidora de uma rede social para ganhar um prêmio. A lista de participantes é numerada e devemos escolher aleatoriamente um número de acordo com a quantidade de participantes.

Peça à pessoa usuária para fornecer o número de participantes do sorteio e devolva para ela o número sorteado.

In [ ]:
# Solução utilizando randrange:
# from random import randrange
#
# seguidores = int(input('Insira a quantidade de participantes: '))
#
# vencedor = randrange(seguidores+1)
#
# print(f'O vencedor do sorteio é o seguidor de número {vencedor}')

# Solução utilizando randint:
from random import randint

seguidores = int(input('Insira a quantidade de participantes: '))

vencedor = randint(1,seguidores)

print(f'O vencedor do sorteio é o seguidor de número {vencedor}')

Insira a quantidade de participantes: 400
O vencedor do sorteio é o seguidor de número 207

#### Questão 7

Você recebeu uma demanda para gerar números de token para o acesso ao aplicativo de uma empresa. O token precisa ser par e variar de 1000 até 9998. Escreva um código que solicita à pessoa usuária o seu nome e gera uma mensagem junto a esse token gerado aleatoriamente:

`"Olá, [nome], o seu token de acesso é [token]! Seja bem-vindo(a)!"`

In [ ]:
# Solução utilizando randint:
# from random import randint

# nome = input('Insira o seu nome: ')

# token = 1

# while token % 2 != 0:
#   token = randint(1000,9998)

# print(f'Olá, {nome}, o seu token de acesso é {token}! Seja bem-vindo(a)!')

# Solução utilizando randrange
from random import randrange
nome = input('Insira o seu nome: ')

token = randrange(1000, 10000, 2)

print(f'Olá, {nome}, o seu token de acesso é {token}! Seja bem-vindo(a)!')

Insira o seu nome: José
Olá, José, o seu token de acesso é 4610! Seja bem-vindo(a)!

#### Questão 8
Para diversificar e atrair novos clientes, uma lanchonete criou um item misterioso em seu cardápio chamado "salada de frutas surpresa". Neste item, são escolhidas aleatoriamente 3 frutas de uma lista de 12 frutas para compor a salada de frutas da pessoa cliente.

Crie o código que faça essa seleção aleatória de acordo com a lista abaixo:

```
frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]
```

In [ ]:
# Foi escolhida a utilização da função sample para que não houvesse repetição nas frutas selecionadas
from random import sample

frutas = ["maçã", "banana", "uva", "pêra", "manga", "coco", "melancia", "mamão", "laranja", "abacaxi", "kiwi", "ameixa"]

selecionadas = sample(frutas, 3)

print(f'A sua salada de frutas conterá as seguintes frutas: {selecionadas}')

A sua salada de frutas conterá as seguintes frutas: ['mamão', 'uva', 'banana']

#### Questão 9
Você recebeu um desafio de calcular a raiz quadrada de uma lista de números, identificando quais resultaram em um número inteiro. A lista é a seguinte:
```
numeros = [2, 8, 15, 23, 91, 112, 256]
```

Informe no final quais números possuem raízes inteiras e seus respectivos valores.

> Dica: use a comparação entre a divisão inteira da raiz por 1 com o valor da raiz para verificar se o número é inteiro. Por exemplo:
```
num = 1.5
num_2 = 2
print(f'{num} é inteiro? :', num // 1 == num)
print(f'{num_2} é inteiro? :', num_2 // 1 == num_2)
```
Saída:
```
1.5 é inteiro? : False
2 é inteiro? : True
```

In [ ]:
# importa a função sqrt que será utilizada para calcular a raiz quadrada
from math import sqrt

# inicializa o vetor de números
numeros = [2, 8, 15, 23, 91, 112, 256]

# calcula a raiz quadrada de todos os numeros da lista
resultados = [sqrt(i) for i in numeros]

# itera sobre todas as raizes quadradas
for i in range(len(resultados)):
  # verifica se o resultado continua o mesmo após uma divisão inteira por 1
  if resultados[i] // 1 == resultados[i]:
    # se continuar o mesmo, é porque é um número inteiro
    print(f'O número {numeros[i]} possui uma raiz quadrada inteira, que é: {resultados[i]}')

O número 256 possui uma raiz quadrada inteira, que é: 16.0

#### Questão 10
Faça um programa para uma loja que vende grama para jardins. Essa loja trabalha com jardins circulares e o preço do metro quadrado da grama é de R$ 25,00. Peça à pessoa usuária o raio da área circular e devolva o valor em reais do quanto precisará pagar.  

> Dica: use a variável [`pi`](https://docs.python.org/pt-br/3/library/math.html#math.pi) e o método [`pow()`](https://docs.python.org/3/library/random.html#random.randrange) da biblioteca `math`. O cálculo de área de um círculo é de: $Area = \pi \times r^2$

In [ ]:
from math import pi, pow

raio = float(input('Insira o raio da área do jardim: '))

preco = 25 * (pi*pow(raio,2))

print(f'O preço da grama para este jardim fica R${preco:.2f}')

Insira o raio da área do jardim: 15
O preço da grama para este jardim fica R$17671.46

## Aula 2 - Funções

### Aquecimento

#### Questão 1

Escreva um código que lê a lista abaixo e faça:

```
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
```

- A leitura do tamanho da lista
- A leitura do maior e menor valor
- A soma dos valores da lista

Ao final exiba uma mensagem dizendo:

```
"A lista possui [tam] números em que o maior número é [maior] e o menor número é [menor]. A soma dos valores pares presentes nela é igual a [soma]"
```

> Dica: use as funções embutidas presentes na [documentação do Python](https://docs.python.org/3/library/functions.html)

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

tam = len(lista)
maior = max(lista)
menor = min(lista)
soma = sum(lista)

print(f'A lista possui {tam} números em que o maior número é {maior} e o menor número é {menor}. A soma dos valores pares presentes nela é igual a {soma}')

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores pares presentes nela é igual a 743

#### Questão 2

Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 7, a tabuada deve ser mostrada no seguinte formato:
```
Tabuada do 7:
7 x 0 = 0
7 x 1 = 7
[...]
7 x 10 = 70
```

In [ ]:
def tabuada(num):
  print(f'Tabuada do {num}:')
  for i in range(11):
    print(f'{num} x {i} = {num*i}')

numero = int(input('Insira um numero inteiro de 1 a 10 para conferir sua tabuada: '))
tabuada(numero)

Insira um numero inteiro de 1 a 10 para conferir sua tabuada: 5
Tabuada do 5:
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#### Questão 3
Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:

```
[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
```

Utilize o `return` na função e salve a nova lista na variável `mult_3`.

In [ ]:
def multiplos3(lista):
  resultado = []
  for i in lista:
    if i % 3 == 0:
      resultado.append(i)

  return resultado

valores = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

mult_3 = multiplos3(valores)

mult_3

[24, 99]

#### Questão 4
Crie uma lista dos quadrados dos números da seguinte lista `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.

Lembre-se de utilizar as funções lambda e `map()` para calcular o quadrado de cada elemento da lista.

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

resultado = list(map(lambda x: pow(x,2), lista))

resultado

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Aplicando a projetos

#### Questão 5

Você foi contratado(a) como cientista de dados de uma associação de skate. Para analisar as notas recebidas dos(as) skatistas em algumas competições ao longo do ano, você precisa criar um código que calcula a pontuação dos(as) atletas. Para isso, o seu código deve receber 5 notas digitadas pelas pessoas juradas.

Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e a menor pontuação dentre as 5 notas e tirar a média das 3 notas que sobraram.

Retorne a média para apresentar o texto:
`"Nota da manobra: [media]"`

In [ ]:
def calcula_media(lista):
  lista.sort()
  lista.pop()
  lista.pop(0)
  media = sum(lista) / len(lista)
  return media

notas = []
for i in range(1,6):
  nota = float(input(f'Insira o valor da nota {i}: '))
  notas.append(nota)

media = calcula_media(notas)

print(f'Nota da manobra: {round(media, 2)}')

Insira o valor da nota 1: 8
Insira o valor da nota 2: 4
Insira o valor da nota 3: 5
Insira o valor da nota 4: 6
Insira o valor da nota 5: 9
Nota da manobra: 6.33

#### Questão 6

Para atender a uma demanda de uma instituição de ensino para a análise do desempenho de seus(suas) estudantes, você precisa criar uma função que receba uma lista de 4 notas e retorne:
- maior nota
- menor nota
- média
- situação (Aprovado(a) ou Reprovado(a))

Para testar o comportamento da função, os dados podem ser exibidos em um texto:
```
"O(a) estudante obteve uma media de [media], com a sua maior nota de [maior] pontos e a menor nota de [menor] pontos e foi [situacao]"
```

In [ ]:
def boletim(lista):
  maior = max(lista)
  menor = min(lista)
  media = sum(lista) / len(lista)
  if media >= 5:
    situacao = 'Aprovado(a)'
  else:
    situacao = 'Reprovado(a)'

  return maior, menor, media, situacao


notas = []
for i in range(1,5):
  nota = float(input(f'Insira o valor da nota {i}: '))
  notas.append(nota)

maior, menor, media, situacao = boletim(notas)

print(f'O(a) estudante obteve uma media de {media}, com a sua maior nota de {maior} pontos e a menor nota de {menor} pontos e foi {situacao}')

Insira o valor da nota 1: 7
Insira o valor da nota 2: 8
Insira o valor da nota 3: 9
Insira o valor da nota 4: 10
O(a) estudante obteve uma media de 8.5, com a sua maior nota de 10.0 pontos e a menor nota de 7.0 pontos e foi Aprovado(a)

#### Questão 7

Você recebeu uma demanda para tratar 2 listas com os nomes e sobrenomes de cada estudante concatenando-as para apresentar seus nomes completos na forma `Nome Sobrenome`.

As listas são:
```
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]
```

O texto exibido ao fim deve ser parecido com:
```
"Nome completo: Ana Silva"
```

> Dica: Utilize a função map para mapear os nomes e sobrenomes e as funções de string para tratar o texto.

In [ ]:
# Função que concatena e formata o nome e o sobrenome
def concatena_nomes(nomes, sobrenomes):
  # Inicializa o vetor que vai receber o resultado da operação
  nomes_completos = []

  # junta cada nome com o seu respetivo sobrenome, separando por espaço
  for i in range(len(nomes)):
    nomes_completos.append(nomes[i] + ' ' + sobrenomes[i])

    # aplica a formatação desejada
    nomes_completos[i] = nomes_completos[i].title()

  # retorna o nome completo formatado
  return nomes_completos

nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

nomes_completos = concatena_nomes(nomes, sobrenomes)

# imprime todos os nomes completos
for nome in nomes_completos:
  print(f'Nome completo: {nome}')

Nome completo: João Silva
Nome completo: Maria Souza
Nome completo: José Tavares

#### Questão 8
Como cientista de dados em um time de futebol, você precisa implementar novas formas de coleta de dados sobre o desempenho de jogadores e do time como um todo.

Sua primeira ação é criar uma forma de calcular a pontuação do time no campeonato nacional a partir dos dados de gols marcados e sofridos em cada jogo.

Escreva uma função chamada `calcula_pontos` que recebe como parâmetros duas listas de números inteiros, representando os gols marcados e sofridos pelo time em cada partida do campeonato.

A função deve retornar a pontuação do time e o aproveitamento em percentual, levando em consideração que a vitória vale 3 pontos, o empate vale 1 ponto e a derrota 0 pontos.

> Observação: Se a quantidade de gols marcados numa partida for maior que a de sofridos, o time venceu. Caso seja igual, o time empatou e se for menor, o time perdeu. Para calcular o aproveitamento devemos fazer a razão entre a pontuação do time pela pontuação máxima que ele poderia receber.

Para teste, utilize as seguintes listas de gols marcados e sofridos
```
gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]
```

Provável texto exibido:
```
"A pontuação do time foi de [pontos] e seu aproveitamento foi de [aprov]%"
```

In [ ]:
def calcula_pontos(marcados, sofridos):
  pontos = 0
  for i in range(len(marcados)):
    if marcados[i] > sofridos[i]:
      pontos +=3
    elif marcados[i] == sofridos[i]:
      pontos +=1

  aprov = round(pontos / (len(marcados)*3) * 100, 2)

  return pontos, aprov

gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

pontos, aprov = calcula_pontos(gols_marcados, gols_sofridos)

print(f"A pontuação do time foi de {pontos} e seu aproveitamento foi de {aprov}%")

A pontuação do time foi de 7 e seu aproveitamento foi de 46.67%

#### Questão 9

Você recebeu o desafio de criar um código que calcula os gastos de uma viagem para um das quatro cidades partindo de Recife: Salvador, Fortaleza, Natal e Aracaju.

O custo da diária do hotel é de 150 reais em todas elas e o consumo de gasolina na viagem de carro é de 14 km/l, sendo que o valor da gasolina é de 5 reais o litro. O gastos com passeios e alimentação a se fazer em cada uma delas por dia seria de `[200, 400, 250, 300]`, respectivamente.

Sabendo que as distâncias entre Recife e cada uma das cidades é de aproximadamente `[850, 800, 300, 550]` km, crie três funções nas quais a 1ª calcule os gastos com hotel (`gasto_hotel`), a 2ª calcule os gastos com a gasolina (`gasto_gasolina`) e a 3ª os gastos com passeio e alimentação (`gasto_passeio`).

Para testar, simule uma viagem de 3 dias para Salvador partindo de Recife. Considere a viagem de ida e volta de carro.
```
"Com base nos gastos definidos, uma viagem de [dias] dias para [cidade] saindo de Recife custaria [gastos] reais"
```

In [ ]:
cidades = ['Salvador', 'Fortaleza', 'Natal', 'Aracaju']
cidades_dia = [200, 400, 250, 300]
cidades_distância = [850, 800, 300, 550]

# Função que calcula o total gasto em hotel
def gasto_hotel(dias):
  return dias * 150

# Função que calcula o total gasto em gasolina
def gasto_gasolina(cidade):
  for i in range(len(cidades)):
    if cidade == cidades[i]:
      return ((cidades_distância[i]*2) / 14) *5

# Função que calcula o total gasto com passeios
def gasto_passeio(cidade, dias):
  for i in range(len(cidades)):
    if cidade == cidades[i]:
      return dias*cidades_dia[i]

dias = int(input("Quantas diárias? "))
cidade = input("Qual a cidade? [Salvador, Fortaleza, Natal ou Aracaju]: ")

hotel = gasto_hotel(dias)
gasolina = gasto_gasolina(cidade)
passeio = gasto_passeio(cidade, dias)

gastos = hotel + gasolina + passeio

print(f'Com base nos gastos definidos, uma viagem de {dias} dias para {cidade} saindo de Recife custaria {round(gastos,2)} reais')

Quantas diárias? 3
Qual a cidade? [Salvador, Fortaleza, Natal ou Aracaju]: Salvador
Com base nos gastos definidos, uma viagem de 3 dias para Salvador saindo de Recife custaria 1657.14 reais

#### Questão 10

Você iniciou um estágio em uma empresa que trabalha com processamento de linguagem natural ([NLP](https://www.alura.com.br/artigos/guia-nlp-conceitos-tecnicas)). Sua líder requisitou que você criasse um trecho de código que recebe uma frase digitada pela pessoa usuária e filtre apenas as palavras com tamanho maior ou igual a 5, exibindo-as em uma lista. Essa demanda é voltada para a análise do padrão de comportamento de pessoas na escrita de palavras acima dessa quantidade de caracteres.

> Dica: utilize as funções lambda e [`filter()`](https://docs.python.org/pt-br/3/library/functions.html?highlight=filter#filter) para filtrar essas palavras. Lembrando que a função embutida `filter()` recebe uma função (no nosso exemplo uma função lambda) e filtra um iterável de acordo com a função. Para tratar a frase use `replace()` para trocar a ',' '.', '!' e '?' por espaço.

Use a frase `"Aprender Python aqui na Alura é muito bom"`para testar o código

In [ ]:
def filtra_palavras(frase):
  # cria uma lista de símbolos que serão ignorados
  simbolos = ["!", "?", ".",","]

  # elimina esses símbolos na frase
  for simbolo in simbolos:
    frase = frase.replace(simbolo, "")

  # utiliza os espaços para separar as palavras da string
  palavras = frase.split()
  # utiliza uma função lambda que filtra as palavras com tamanho >= 5
  palavras = list(filter(lambda x : len(x) >= 5, palavras))

  # retorna as palavras filtradas
  return palavras

frase = input('Insira a frase desejada: ')

palavras_uteis = filtra_palavras(frase)

palavras_uteis

Insira a frase desejada: Aprender Python aqui na Alura é muito bom

['Aprender', 'Python', 'Alura', 'muito']

## Aula 3 - Estrutura de dados compostas

### Aquecimento

#### Questão 1

Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:
```
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
```

In [ ]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

for lista in lista_de_listas:
  print(sum(lista))

24
10
16

#### Questão 2

Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:
```
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
```

In [ ]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

peso = [pessoa[2] for pessoa in lista_de_tuplas]

peso

[81, 67, 83]

#### Questão 3
A partir da lista: `lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']`, crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [ ]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
lista_tuplas = []

for i in range(len(lista)):
  lista_tuplas.append((i,lista[i]))

lista_tuplas

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

#### Questão 4
Crie uma lista usando o list comprehension, que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento' a partir da seguinte lista de tuplas:
```
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
```

In [ ]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

alugueis_apartamento = [tupla[1] for tupla in aluguel if tupla[0] == 'Apartamento']

alugueis_apartamento

[1700, 1400, 1900]

#### Questão 5

Crie um dicionário usando o dict comprehension em que as chaves estão na lista `meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']` e os valores estão na lista `despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]`

In [ ]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

despesas_mes = {meses[i]:despesa[i] for i in range(len(meses))}

despesas_mes

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

### Aplicando a projetos

#### Questão 6

Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:
```
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
```
Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.

In [ ]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

valores = [venda[1] for venda in vendas if venda[0] == '2022' and venda[1] > 6000]

valores

[8883, 7688, 9544, 8190]

#### Questão 7

Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

- Glicose igual ou inferior a 70: 'Hipoglicemia'
- Glicose entre 70 a 99: 'Normal'
- Glicose entre 100 e 125: 'Alterada'
- Glicose superior a 125: 'Diabetes'

A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

```
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
```

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

status_paciente = [('Hipoglicemia', valor) if valor <= 70 else ('Normal', valor) if 70 < valor <= 99 else ('Alterada', valor) if 99 < valor <= 125 else ('Diabetes', valor) for valor in glicemia]

status_paciente

[('Diabetes', 129),
 ('Normal', 82),
 ('Hipoglicemia', 60),
 ('Normal', 97),
 ('Alterada', 101),
 ('Hipoglicemia', 65),
 ('Hipoglicemia', 62),
 ('Diabetes', 167),
 ('Normal', 87),
 ('Hipoglicemia', 53),
 ('Hipoglicemia', 58),
 ('Normal', 92),
 ('Hipoglicemia', 66),
 ('Alterada', 120),
 ('Alterada', 109),
 ('Hipoglicemia', 62),
 ('Normal', 86),
 ('Normal', 96),
 ('Alterada', 103),
 ('Normal', 88),
 ('Diabetes', 155),
 ('Hipoglicemia', 52),
 ('Normal', 89),
 ('Normal', 73)]

#### Questão 8
Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:

```
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
```

O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha um id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

In [ ]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
lista_de_tuplas = []

cabecalho = ('id', 'quantidade', 'preco', 'total')
lista_de_tuplas.append(cabecalho)

for i in range(len(id)):
  lista_de_tuplas.append((id[i], quantidade[i], preco[i], quantidade[i]*preco[i]))

lista_de_tuplas

[('id', 'quantidade', 'preco', 'total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

#### Questão 9

Uma empresa possui filiais espalhadas nos estados da região sudeste do Brasil. Em uma das tabelas de cadastro das filiais, há uma coluna contendo a informação de qual é o estado a que pertence:
```
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
```

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada estado. A partir da coluna com a informação dos estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um estado e o valor sendo a contagem de vezes em que o estado aparece na lista.

> Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui o nome de apenas um estado com valores repetidos.

In [ ]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

# inicializa a lista de listas
lista_de_listas = [[], [], [], []]

# cria uma lista de listas onde cada lista contém o nome do estado com valores repetidos
for estado in estados:
  if estado == 'SP':
    lista_de_listas[0].append(estado)
  elif estado == 'ES':
    lista_de_listas[1].append(estado)
  elif estado == 'MG':
    lista_de_listas[2].append(estado)
  else:
    lista_de_listas[3].append(estado)

# para cada lista de listas, cria uma chave (qualquer elemento da lista funciona, pois a lista contém o nome do estado X vezes) e ve o tamanho da lista
dicionario = {estado[0]:len(estado) for estado in lista_de_listas}
dicionario

{'SP': 8, 'ES': 6, 'MG': 7, 'RJ': 2}

#### Questão 10

Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de funcionários e o gestor gostaria de ter um agrupamento da soma de funcionários para cada estado. As informações contidas na tabela são:

```
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
```

A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos estados únicos e os valores são as listas com o número de funcionários referentes ao estado. Crie também um dicionário em que as chaves são os nomes dos estados e os valores são a soma de funcionários(as) por estado.

> Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui apenas os valores numéricos de funcionários de cada estado.

In [ ]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
estados_unicos = list(set([tupla[0] for tupla in funcionarios]))

# inicializa a lista de listas
lista_de_listas = []

# para cada um dos estados
for estado in estados_unicos:
  # adiciono na lista referente ao estado SE o valor que indica o estado da tupla for igual ao estado unico
  lista = [tupla[1] for tupla in funcionarios if tupla[0] == estado]
  # com isso garanto que as listas estarão na mesma ordem da lista de estados unicos, evitando tuplas espúrias
  lista_de_listas.append(lista)

dicionario_funcionarios = {estados_unicos[i]:lista_de_listas[i] for i in range(len(lista_de_listas))}

dicionario_soma = {estados_unicos[i]:sum(lista_de_listas[i]) for i in range(len(lista_de_listas))}

print(dicionario_funcionarios)
print(dicionario_soma)

{'MG': [9, 6, 4, 8, 5, 10, 12], 'SP': [16, 10, 7, 11, 9, 12, 7, 10], 'ES': [8, 9, 7, 12, 8, 14], 'RJ': [13, 9]}
{'MG': 54, 'SP': 82, 'ES': 58, 'RJ': 22}

## Aula 4 - Lidando com exceções

### Aquecimento

#### Questão 1

Faça um programa que solicite à pessoa usuária digitar dois números `float` e calcular a divisão entre esses números. O código deve conter um tratamento de erro, indicando o tipo de erro que foi gerado caso a divisão não seja possível de realizar.

Teste o programa com o segundo valor numérico do input igual a 0 e também teste utilizando caracteres textuais no input para checar os tipos de erro que ocorrem.

In [4]:
def divisao():
  num1 = float(input('Insira o dividendo: '))
  num2 = float(input('Insira o divisor: '))

  return (num1/num2)

try:
  resultado = divisao()
except Exception as e:
  print(e)
  print('Não foi possível realizar a conta')
else:
  print(f'O resultado da soma foi {resultado}')
finally:
  print('A conta terminou de ser realizada')

Insira o dividendo: 15
Insira o divisor: 3
O resultado da soma foi 5.0
A conta terminou de ser realizada

#### Questão 2

Faça um programa que solicite à pessoa usuária digitar um texto que será uma chave a ser pesquisada no seguinte dicionário: `idades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}`, armazenando o resultado do valor em uma variável. O código deve conter um tratamento de erro `KeyError`, imprimindo a informação 'Nome não encontrado' caso ocorra o erro e imprimir o valor caso não ocorra nenhum.

Teste o programa com um nome presente em uma das chaves do dicionário e com um que não esteja no dicionário para verificar a mensagem de erro.

In [6]:
idades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}

try:
  nome = input('Insira o nome que deseja saber a idade: ').title()
  idade = idades[nome]
except KeyError:
  print('Nome não encontrado')
else:
  print(f'A idade de {nome} é {idade} anos')

Insira o nome que deseja saber a idade: joao
Nome não encontrado

#### Questão 3
Crie uma função que recebe uma lista como parâmetro e converta todos os valores da lista para `float`. A função deve conter um tratamento de erro indicando o tipo de erro gerado e retornar a lista caso não tenha ocorrido nenhum erro. Por fim, deve ter a cláusula `finally` para imprimir o texto: 'Fim da execução da função'.

In [9]:
def converte_float(lista):
  lista_convertida = [float(x) for x in lista]
  return lista_convertida

try:
  lista = []
  tamanho = int(input('Insira a quantidade de elementos da lista: '))

  for i in range(tamanho):
    lista.append(input(f'Insira o {i+1}° elemento: '))

  lista = converte_float(lista)

except Exception as e:
  print('Não foi possível converter a lista para uma lista de float: ')
  print(type(e), e)

else:
  print('Lista convertida com sucesso: ')
  print(lista)

finally:
  print('Fim da execução da função')

Insira a quantidade de elementos da lista: 3
Insira o 1° elemento: arroz
Insira o 2° elemento: feijao
Insira o 3° elemento: 3
Não foi possível converter a lista para uma lista de float:
<class 'ValueError'> could not convert string to float: 'arroz'
Fim da execução da função

#### Questão 4
Crie uma função que recebe duas listas como parâmetros e agrupe os elementos um a um das listas, formando uma lista de tuplas de 3 elementos, onde o primeiro e segundo elemento da tupla são os valores na posição `i` das listas e o terceiro elemento é a soma dos valores na posição `i` das listas. A função deve conter um tratamento de erro indicando o tipo de erro gerado e retornar como resultado a lista de tuplas. Caso as listas enviadas como parâmetro tenham tamanhos diferentes, a função deve retornar um IndexError com a frase: 'A quantidade de elementos em cada lista é diferente.'

Dados para testar a função:

Valores sem erro:
```
lista1 = [4,6,7,9,10]
lista 2 = [-4,6,8,7,9]
```
Listas com tamanhos diferentes:

```
lista1 = [4,6,7,9,10,4]
lista 2 = [-4,6,8,7,9]
```
Listas com valores incoerentes:

```
lista1 = [4,6,7,9,'A']
lista 2 = [-4,'E',8,7,9]
```

In [16]:
# função que cria a lista de tuplas, com cada tupla possuindo os dois elementos e a soma de ambos
def criatuplas(lista1, lista2):
  # se as duas listas possuirem tamanhos diferentes, lança uma exceção
  if len(lista1) != len(lista2):
    raise IndexError('A quantidade de elementos em cada lista é diferente')

  # cria a lista de tuplas
  lista_de_tuplas = []

  # para cada elemento das listas, cria uma tupla na nova lista
  for i in range(len(lista1)):
    lista_de_tuplas.append((lista1[i], lista2[i], lista1[i]+lista2[i]))

  # retorna a nova listas
  return lista_de_tuplas

# inicializa as listas para fazer as operações
lista1 = [4,6,7,9,10]
lista2 = [-4,6,8,7,9]

# tenta utilizar a função para as listas inicializadas
try:
  # chama a função
  nova_lista = criatuplas(lista1, lista2)

# caso haja um erro de index
except IndexError as e:
  # printe a mensagem criada na hora de lançar a exceção
  print(e)

# caso haja um erro por elementos incoerentes nas listas
except TypeError as e:
  # printe uma mengem informando do erro
  print('Existem elementos incoerentes na(s) lista(s)')
  print(e)

# se a função for executada sem nenhum erro
else:
  # imprima como ficou a nova lista
  print(nova_lista)

# informe que acabou a operação
finally:
  print('fim da operação')

[(4, -4, 0), (6, 6, 12), (7, 8, 15), (9, 7, 16), (10, 9, 19)]
fim da operação

### Aplicando a projetos

#### Questão 5

Você recebeu como desafio desenvolver um código que contabiliza as pontuações de estudantes de uma instituição de ensino de acordo com suas respostas num teste.

Este código deve ser testado para um exemplo de 3 estudantes com uma lista de listas em que cada lista possui as respostas de 5 questões objetivas de cada estudante. Cada questão vale um ponto e as alternativas possíveis são A, B, C ou D.

Caso alguma alternativa em um dos testes não esteja entre as alternativas possíveis você deve lançar um **ValueError** com a mensagem `"A alternativa [alternativa] não é uma opção de alternativa válida"`. O cálculo das 3 notas só será realizado mediante as entradas com as alternativas A, B, C ou D em todos os testes.

Se não for lançada a exceção, será exibida uma lista com as notas em cada teste.

Os dados para o teste do código são:

- **Gabarito da prova**:
```
gabarito = ['D', 'A', 'B', 'C', 'A']
```
Abaixo temos 2 listas de listas que você pode usar como teste

- **Notas sem exceção:**
```
testes_sem_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'C', 'A']]
```
- **Notas com exceção:**
```
testes_com_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'E', 'A'], ['D', 'B', 'A', 'C', 'A']]
```

> Dica: Para verificar se uma entrada da lista não está entre as alternativas possíveis use a estrutura `lista[i] not in ['A','B','C','D']` (Por exemplo, `1 not in [2,3,4]`... Saída: `True`)

In [20]:
# Função para correção das notas
def calcula_notas(lista_com_notas):

  # criando o gabarito
  gabarito = ['D', 'A', 'B', 'C', 'A']

  # cria a lista que vai receber as notas dos alunos
  notas_alunos = []

  # as operações serão realizadas aluno por aluno
  for i in range(len(lista_com_notas)):
    # incializa a nota do aluno
    nota_aluno = 0

    for j in range(len(gabarito)):
      # verifica se a alternativa selecionada é pertinente
      if lista_com_notas[i][j] not in ['A','B','C','D']:
        raise ValueError(f'A alternativa {lista_com_notas[i][j]} não é uma opção de alternativa válida')
      else:
        # se a resposta for igual ao gabarito, adiciona um ponto na nota do aluno
        if lista_com_notas[i][j] == gabarito[j]:
          nota_aluno += 1

    # adiciona a nota do aluno com as respostas da posição i na lista de notas
    notas_alunos.append(nota_aluno)

  return notas_alunos

In [21]:
# Testando no exemplo que não lança exceção
testes_sem_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'C', 'A']]

notas_alunos = calcula_notas(testes_sem_ex)

notas_alunos

[5, 3, 3]

In [22]:
# Testando no exemplo que lança exceção
try:
  testes_com_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'E', 'A'], ['D', 'B', 'A', 'C', 'A']]
  notas_alunos = calcula_notas(testes_com_ex)
except ValueError as e:
  print(e)
else:
  print('Notas Alunos')
finally:
  print('Fim da execução')

A alternativa E não é uma opção de alternativa válida
Fim da execução

#### Questão 6

Você está trabalhando com processamento de linguagem natural ([NLP](https://www.alura.com.br/artigos/guia-nlp-conceitos-tecnicas)) e, dessa vez, sua líder requisitou que você criasse um trecho de código que recebe uma lista com as palavras separadas de uma frase gerada pelo ChatGPT.

Você precisa criar uma função que avalia cada palavra desse texto e verificar se o tratamento para retirar os símbolos de pontuação (',' '.', '!' e '?') foi realizado. Caso contrário, será lançada uma exceção do tipo **ValueError** apontando o 1º caso em que foi detectado o uso de uma pontuação por meio da frase `"O texto apresenta pontuações na palavra "[palavra]"."`.

Essa demanda é voltada para a análise do padrão de frases geradas pela inteligência artificial.

> Dica: Para verificar se uma ou mais das pontuações estão presentes em cada palavra, utilize a palavra chave `or` na condição if (Por exemplo, `('a' or 'b') in 'alura'` ... Saída: `True`)

Os dados para o teste do código são:

- **Lista tratada:**
```
lista_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa', 'versátil',
                  'e', 'fácil', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos', 'desde',
                  'análise', 'de', 'dados', 'até', 'inteligência', 'artificial']
```
- **Lista não tratada:**
```
lista_nao_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa,', 'versátil',
                  'e', 'fácil,', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos,', 'desde',
                  'análise', 'de', 'dados', 'até', 'inteligência', 'artificial!']
```

In [23]:
# criando a função que recebe a lista de palavras
def verifica_tratamento(lista):
  for i in range(len(lista)):
    if (',' or '.' or '!' or '?') in lista[i]:
      raise ValueError(f'O texto apresenta pontuações na palavra "{lista[i]}".')

In [ ]:
# Testando no exemplo que não lança exceção

In [25]:
# Testando no exemplo que lança exceção
lista_nao_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa,', 'versátil',
                'e', 'fácil,', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos,', 'desde',
                'análise', 'de', 'dados', 'até', 'inteligência', 'artificial!']
try:
  verifica_tratamento(lista_nao_tratada)
except ValueError as e:
  print(e)
finally:
  print('Final da execução')

O texto apresenta pontuações na palavra "poderosa,".
Final da execução

#### Questão 7
Você foi contratado como uma pessoa cientista de dados para auxiliar um laboratório que faz experimentos sobre o comportamento de uma cultura de fungos. O laboratório precisa avaliar constantemente a razão (divisão) entre os dados de pressão e temperatura do ambiente controlado recolhidos durante a experimentação para definir a melhor condição para os testes.

Para cumprir com a demanda, você precisa criar uma função `divide_colunas` que recebe os dados das colunas de pressão e temperatura (que vem no formato de listas) e gerar uma nova coluna com o resultado da divisão. Os parâmetros da função são as duas listas e você deve tratar dentro dela ao menos 2 tipos de exceções:   
- Verificar se as listas têm o mesmo tamanho (ValueError)
- Verificar se existe alguma divisão por zero (ZeroDivisionError)

Para testar a função, vamos realizar a divisão entre duas listas de dados coletados no experimento, com os valores de pressão e temperatura do ambiente controlado.

Como teste, use os seguintes dados:

- **Dados sem exceção:**
```
pressoes = [100, 120, 140, 160, 180]
temperaturas = [20, 25, 30, 35, 40]
```
- **Dados com exceção:**
1. Exceção de ZeroDivisionError
```
pressoes = [60, 120, 140, 160, 180]
temperaturas = [0, 25, 30, 35, 40]
```
2. Exceção de ValueError
```
pressoes = [100, 120, 140, 160]
temperaturas = [20, 25, 30, 35, 40]
```

> Dica: Você pode usar `zip()` para parear os dados da lista_1 com a lista_2. Crie uma estrutura try-except que caso uma das exceções sejam lançadas, podemos ver o tipo de erro na saída.

In [8]:
def divide_colunas (lista1, lista2):
  if 0 in lista2:
    raise ZeroDivisionError('A segunda lista não pode possuir o número zero')
  if len(lista1) != len(lista2):
    raise ValueError('Ambas as listas devem possuir o mesmo tamanho')

  divisao = [round(press/temp,2) for press,temp in zip(lista1,lista2)]

  return divisao

In [11]:
# Testando no exemplo que não lança exceção
pressoes = [100, 120, 140, 160, 180]
temperaturas = [20, 25, 30, 35, 40]

try:
  razao = divide_colunas(pressoes, temperaturas)
except Exception as e:
  print(e)
else:
  print(razao)
finally:
  print('Fim da operação')

[5.0, 4.8, 4.67, 4.57, 4.5]
Fim da operação

In [10]:
# Testando no exemplo que lança exceção (ZeroDivisionError)
pressoes = [60, 120, 140, 160, 180]
temperaturas = [0, 25, 30, 35, 40]

try:
  razao = divide_colunas(pressoes, temperaturas)
except Exception as e:
  print(e)
else:
  print(razao)
finally:
  print('Fim da operação')

A segunda lista não pode possuir o número zero
Fim da operação

In [9]:
# Testando no exemplo que lança exceção (ValueError)
pressoes = [100, 120, 140, 160]
temperaturas = [20, 25, 30, 35, 40]

try:
  razao = divide_colunas(pressoes, temperaturas)
except Exception as e:
  print(e)
else:
  print(razao)
finally:
  print('Fim da operação')

Ambas as listas devem possuir o mesmo tamanho
Fim da operação